$mob-s: 320px
$mob-m: 375px
$mob-l: 425px
$tablet: 768px
$laptop: 1024px
$laptop-m: 1366px
$laptop-l: 1440px

$padding-l: 80px
$padding-m: 40px
$padding-s: 15px

$main-color: #5D86EF
$text-color: #252B34
$hovered-color: #547BDE
$error-color: #F16F65

$heading-font-family: Gilroy, Arial, sans-serif
$text-font-family: Inter, Arial, sans-serif

$ui-shadow: 0 5px 10px 0 rgba(146, 146, 146, 0.25)
$card-shadow: 0 10px 20px 0 rgba(156, 156, 156, 0.15)

$transition: all .3s ease

@mixin resetList
  padding: 0
  margin: 0
  list-style-type: none

@mixin transitionColor($color)
  transition: $transition
  &:hover
    color: $color

@mixin transitionOpacity()
  transition: $transition
  &:hover
    opacity: .85

@mixin transitionBg($color)
  transition: $transition
  &:hover
    background-color: $color

@mixin buttonDefault
  border: none
  cursor: pointer

@mixin linkDefault
  color: $text-color
  text-decoration: none
  @include transitionColor($hovered-color)

@mixin borderUnderline
  border-bottom: 2px solid $main-color
  padding-bottom: 7px

@mixin pseudoIcon($url)
  display: block
  content: ''
  background: url($url)

@mixin cutLines($count)
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical
  -webkit-line-clamp: $count

@mixin articleList
  display: grid
  grid-template-columns: repeat(auto-fill, 305px)
  grid-gap: 20px
  @include resetList
  @media (max-width: $mob-l)
    justify-content: center
    grid-template-columns: repeat(auto-fill, 290px)


@mixin cardArticleUiElem
  position: absolute
  height: 32px
  display: flex
  align-items: center
  justify-content: center
  border: none
  border-radius: 8px
  background: #FFF
  box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.26)
  z-index: 10

@mixin cardArticleBtn
  cursor: pointer
  @include transitionOpacity

@mixin authForm
  .title
    margin: 10px 0 25px
    font-family: $heading-font-family
    font-size: 25px
    font-weight: 600
  .field
    position: relative
    &:not(:last-of-type)
      margin-bottom: 40px
  .button-container
    position: relative
    margin: 45px 0 35px
  .submit
    width: 100%
    padding: 16px 30px
    border-radius: 30px
    background-color: $main-color
    font-family: $text-font-family
    color: #fff
    @include transitionOpacity
    @include buttonDefault
    &-error
      width: 100%
      top: -20px
      margin: 0 auto
      text-align: center
.switch-form
  margin-bottom: 20px
  text-align: center
  color: $text-color
  font-family: $text-font-family
  font-size: 15px
  &-btn
    color: $main-color
    background-color: inherit
    @include buttonDefault
    @include transitionOpacity

