/** The first line must be empty https://stackoverflow.com/a/70547599 */
.root
  font-family: $text-font-family
  color: black

.v-enter-active, .v-leave-active
  transition: opacity .2s ease

.v-enter-from, .v-leave-to
  opacity: 0

